# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# node ignore
node_modules


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# python ignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.whl
*.cover
*.coverage
*.hypothesis/
*.tox/
*.pytest_cache/
*.mypy_cache/
*.pytype/
*.pylint.d/
*.coverage.*
*.mypy_cache/
*.pytest_cache/
env